    $main-white: #f0f0f0;
    $main-green: #18a558;
    $main-blue: #006a8a;
    $main-gray: #868b8e;
    $main-red:#8B0000;
  
  * {
    margin: 0;
    padding: 0;
  }
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {

    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
    }
  }
  

  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  

  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }

  body {
    font-family: "Trirong", serif;
    font-size: 18px; 
    font-weight: 400;
    line-height: 1.4;
    color: $main-white;      
}
h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 96px;
  }
h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 67.2px;
  }
ul {
    list-style: none;
  }
a {
    text-decoration: none;
    color: $main-white;
  }
img {
    display: block;
    width: 100%;
  }

  /* nav */

  .nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0081a2;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list  {
    display: flex;
    margin-right: 2rem;
    > a {
    display: block;
    font-size: 35px;
    padding: 2rem;
    }
    > a:hover {
        background: $main-blue;
      }
  }
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #21b6a8;
    background-image: linear-gradient(62deg, #bc7d5e 0%, #0d98ba 150%);
    > p{
        font-size: 3rem;
        font-weight: 200;
        font-style: italic;
        color: $main-red;
      }
}

  /* Projects section */

  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: $main-blue;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid $main-white;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: #c44b4f;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: $main-gray;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  
  .project-image {
    height: calc(80% - 2.5rem);
    width: 100%;
    object-fit: cover;
  }

  .project-title {
    font-size: 2.5rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }

  .btn-show-all {
    font-size: 32px;
    background: $main-gray;
    transition: background 0.3s ease-out;
    hover {
        background: $main-red;
    > i {
            transform: translateX(2px);
          }
      }
    > i {
        margin-left: 10px;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
      }
  }
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background: $main-gray;
  }
  
  .contact-section-header{
    > h2 {
        font-size: 96px;
      }
    > p {
        font-style: italic;
      }
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header{
    > h2{
       font-size: 94px;
        }
    }
  }
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  
  .contact-details {
    font-size: 38.4px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
  }
  .contact-details:hover {
    transform: translateY(8px);
  }
  /* Footer */
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: $main-gray;
    border-top: 4px solid var(--main-red);
  >  p {
        margin: 2rem;
      }
  >  i {
        vertical-align: middle;
      }
  }

  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  